[user]
	name = Martin Morgenstern
	email = mail@mmorgenstern.net
[alias]
	st = status -sb
	ci = commit
	co = checkout
	br = branch -vv
	staged = diff --cached
	ol = log --oneline
	fixup = "!f() { TARGET=$(git rev-parse \"$1\"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
	timetable = "!f() { git log --no-merges --format=\"%ad -- %s\" --date=short --author=morgenstern --since=$1-01 --until=$1-31; }; f"
	sl = stash list --stat
[color]
	ui = true
[core]
	precomposeunicode = true
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[merge]
	tool = opendiff
[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
[receive]
	fsckObjects = true
