[alias]
	st = status -sb
	ci = commit
	co = checkout
	br = branch -vv
	staged = diff --cached
	ol = log --format=onelineplus
	fixup = "!f() { TARGET=$(git rev-parse \"$1\"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
	sl = stash list --stat
	rs = restore
	sw = switch
	force-push = push --force-with-lease
[color]
	ui = true
[core]
	precomposeUnicode = true
	quotePath = false
	excludesFile = ~/.gitignore_global
	pager = delta
	attributesFile = ~/.gitattributes_global
[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
[credential]
	helper = osxkeychain
[merge]
	tool = opendiff
	conflictStyle = zdiff3
[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
	prune = true
[receive]
	fsckObjects = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[hub]
	protocol = ssh
[diff]
	colorMoved = default
[pull]
	rebase = false
[pretty]
	onelineplus = %C(yellow)%h%Creset%C(bold red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset
[init]
	defaultBranch = main
[include]
	path = .gitconfig.local
