"*":
  "autocomplete-python":
    pythonPaths: "$PROJECT/venvs/default/bin/python3;/usr/local/bin/python3"
    useSnippets: "required"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "timecop"
      "exception-reporting"
      "dev-live-reload"
      "deprecation-cop"
      "metrics"
      "package-generator"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
      "__pycache__"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/martin/Code"
    themes: [
      "atom-dark-ui"
    ]
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "templates"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    preferredLineLength: 99
    softWrapHangingIndent: 2
  "linter-flake8":
    executablePath: "$PROJECT/venvs/default/bin/flake8;$PROJECT/venv/bin/flake8;/usr/bin/true"
  minimap:
    plugins:
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
