"*":
  "autocomplete-python":
    pythonPaths: "$PROJECT/.venvs/current/bin/python3;/usr/local/bin/python3"
    useKite: false
    useSnippets: "required"
  autosave:
    enabled: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "timecop"
      "exception-reporting"
      "dev-live-reload"
      "deprecation-cop"
      "metrics"
      "package-generator"
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
      "__pycache__"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/martin/Code"
    telemetryConsent: "no"
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "templates"
    ]
  editor:
    atomicSoftTabs: false
    fontFamily: "Input Mono"
    fontSize: 11
    lineHeight: 1.7
    preferredLineLength: 99
    scrollPastEnd: true
    softWrapHangingIndent: 2
  linter:
    lintOnChange: false
    lintPreviewTabs: false
  "linter-flake8":
    executablePath: "$PROJECT/.state/venv/bin/flake8;$PROJECT/venvs/default/bin/flake8;$PROJECT/venv/bin/flake8;/usr/bin/true"
  minimap:
    plugins:
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
